body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
body,
html {
    font-family: "Poppins", sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2b2b31;
    color: #fff;
}
/* đè lên màu bg của bst4 */
.bg-dark {
    background-color: #28282d !important;
}
header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%) !important;
    z-index: 101;
}
.navbar {
    position: relative;
    z-index: 2;
    z-index: 10;
}
.header__flixgo {
    display: flex;
    justify-content: space-around;
}
header .header__menu li a:hover {
    transition: 0.3s ease-in;
    color: #ff55a5 !important;
}
.header__menu {
    padding-left: 70px;
}
.header__listitem {
    padding-left: 30px;
}
.header__logo {
    margin-left: -10px;
    color: #ff55a5;
}
.logo_header > a {
    font-size: 40px;
}
/* ------SEARCH--------- */
.search {
    position: relative;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    overflow: hidden;
}
.search.active {
    width: 200px;
}

.search .icon {
    position: absolute;
    left: -10px;
    top: -8px;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}
.icon i {
    color: #ff55a5;
}
.search .icon::after {
    content: " ";
    position: absolute;
    transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
    position: relative;
    margin-left: -10px;
    width: 100px;
    height: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input {
    position: absolute;
    top: -9px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0px;
}
/* ------LOGIN--------- */
.search {
    margin-right: 20px;
}
.btn__login {
    color: #fff !important;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    padding: 20px;
    border-radius: 4px;
    background-image: linear-gradient(90deg, rgb(255, 85, 165) 0%, #ff5860 100%);
    box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
    opacity: 0.85;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.5s ease;
}
.btn__login:hover {
    opacity: 1;
}
/* -----------CAROUSEL---------- */
.carousel-item {
    width: 100%;
}
.carousel-item img {
    width: 100%;
    max-height: 694px;
}
/* -------------PRODUCTS----------------- */
.products {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0, rgba(163, 60, 108, 0.2), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
        url("../public/img/maxresdefault.jpg");
    background-repeat: no-repeat;
}
.products__title {
    font-weight: bolder;
    color: #ff55a5;
    padding: 30px;
    background-color: #1e1e24;
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%);
    margin-bottom: 10px;
}
.products__title h2 {
    color: #ff55a5;
    font-weight: 600;
}
.products__content {
    padding: 100px 0 100px;
    /* width: 80%; */
    margin: auto;
    display: grid !important;
    grid-template-columns: repeat(1, 4fr);
    gap: 20px;
}
.products__highline {
    margin: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
}
.products__item img {
    padding: 20px;
    width: 100%;
    width: 300px;
    height: 450px;
    overflow: hidden;
}
.btn_detail {
    margin-left: 0px;
}
.products__item a {
    text-decoration: none !important;
}
.background__detail{
    background-color: #2b2b31;
}
/* ---OVERLAY----- */
.showcase__overlay {
    width: 260px;
    height: 410px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    position: absolute;
    top: 20px;
    left: 35px;
    opacity: 0;
    transition: 0.5s ease;
}
.showcase__overlay a {
    position: absolute;
    top: 20px;
    left: 135px;
}
.showcase__items:hover .showcase__overlay {
    opacity: 1;
}
.showcase__text {
    color: #ff55a5;
    position: absolute;
    bottom: 30px;
    left: 0px;
    transform: translateY(80px);
    transition: 0.5s ease;
}
.showcase__items:hover .showcase__text {
    transform: translateY(0);
}

/* -----------EVENTS------------ */
.event {
    width: 100%;
    background-image: linear-gradient(0, rgba(163, 60, 108, 0.2), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
        url("../public/img/ads5.jpg");
    background-position: center;
    background-size: cover;
    height: 1200px;
    background-repeat: no-repeat;
}
.event__title {
    margin-top: -15px;
    padding: 30px;
    background-color: #28282d;
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%);
    margin-bottom: 10px;
}
.event__title h2 {
    color: #ff55a5;
    font-weight: 600;
}
.event__content {
    padding: 80px 0 80px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.event__picture {
    overflow: hidden;
    padding: 10px;

}
.event__picture img {
    width: 100%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}
.event__picture img:hover {
    transform: scale(1.1);
}
/* -----DISCOUNT----- */
.discount__text {
    padding: 80px 0 80px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
/* .event__discount img {
    width: 100%;
    
} */
.discount__text .slick-dots li button:before {
    padding-top: -10px;
    font-size: 15px;
}
/* --------CONTACT------------ */
.contact {
    width: 100%;
    background-color: #2b2b31;
    padding: 30px 0 50px;
}
.contact__content {
    width: 80%;
    margin: auto;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 400;
}
.contact__title h2 {
    color: #ff55a5;
    font-weight: 600;
}
.contact__partner {
    margin-left: -50px;
}
.contact__partner img {
    max-width: 100%;
    transition: 0.4s ease;
    opacity: 0.75;
}
.contact__partner img:hover {
    opacity: 1;
}
/* -------------DETAIL----------- */
.td_btnbook a {
    text-decoration: none !important;
    color: #fff ;
}
/* -------------FOOTER----------- */
.footer {
    background-color: #28282d;
    padding: 20px 0 30px;
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%);
    color: #fff;
}
.footer__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: 30px;
}

.footer__app li img {
    margin-left: -40px;
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.footer__app li,
.footer__list li,
.footer__social li,
.footer__tou li {
    list-style: none;
    line-height: 35px;
}
.footer__app a,
.footer__list a,
.footer__social a,
.footer__tou a {
    text-decoration: none;
    color: #515155;
}
.footer__list a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}
a {
    transition: 0.3s ease-in;
}
.footer__list a:hover {
    color: #ff55a5;
}
.footer__social a svg {
    font-size: 20px;
}
.footer__highline {
    width: 100%;
    border: 1px solid #81819223;
}
.footer__copyright small {
    opacity: 0.5;
}
.footer__company {
    display: flex;
    justify-content: space-between;
}
.footer__tou {
    display: flex;
}
.footer__tou a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 20px;
}
.footer__tou a:hover {
    color: #ff55a5;
}


/* ---------------DATVE--------------- */
@font-face {
    font-family: "fontGame";
    src: url("../src/containers/HomeTemPlate/BaiTapDatVe/Pony.ttf");
}
/* * {
    font-family: "fontGame";
    src: url("../src/containers/HomeTemPlate/BaiTapDatVe/Pony.ttf");
} */
.bookingMovie {
    font-family: "fontGame";
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../public/img/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.manhinh {
    color: red;
}
.overplaybackground{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
}
.ghe {
    border: 3px solid orange;
    width: 45px;
    height: 35px;
    font-size: 12px;
    margin-left: 2%;
    margin-bottom: 1%;
    border-radius: 5px;
}
.rowNumber {
    /* font-size: 25px; */
    width: 45px;
    height: 35px;
    background: none;
    border: none;
    margin-left: 20px;
    margin-bottom: 1%;
    font-size: 30px;
    color: yellow;
}
.rowNumber span:nth-child(2),
span:nth-child(3),
span:nth-child(4),
span:nth-child(5),
span:nth-child(6),
span:nth-child(7),
span:nth-child(8),
span:nth-child(9),
span:nth-child(11) {
    margin-left: 47px;
}
.rowNumber span:nth-child(10) {
    margin-left: 45px;

}
.rowNumber span:nth-child(11),span:nth-child(12) {
    margin-left: 36px;

}
.firstChar {
    color: yellow;
    font-size: 35px;
    margin-right: 15px;
}

.screen {
    margin-left:30px ;
    border-bottom: 50px solid rgb(255, 159, 95);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 100%;
    width: 80%;
    filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
    font-size: 25px;
    color: #fff;
}

.gheDuocChon {
    border: 3px solid orange;

    background: orange;
    color: #000;

    cursor: no-drop !important;
    border-radius: 5px;
    width: 45px;
    height: 35px;
}

.gheDangChon {
    background: rgb(109, 238, 109);
    border: 3px solid rgb(109, 238, 109);
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    width: 45px;
    height: 35px;
}
